<p style="color: green"><%= notice %></p>

  <% @item.uploads.each do |upload| %>
  <p>
    <% if upload.representable? %>
    <%= image_tag upload.representation(resize_to_limit: [500,500]) %>

    <% else %>
    <%= image_tag(upload, size: "200x200") %>
    
    <% end %>
    
  </p>
  <% end %>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
